<ion-header>
      <ion-toolbar>
        <ion-title>File Search</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-input [(ngModel)]="query" (ionInput)="onSearch()" placeholder="Search files..."></ion-input>
      <ion-list>
        <ion-item *ngFor="let result of results">
          <p [innerHTML]="highlightTerm(result.name, query)" class="result-name"></p>
          <p [innerHTML]="highlightTerm(result.content, query)" class="result-content"></p>
          <!-- <p class="result-name">{{ result.name }}</p>
          <p class="result-content">{{ result.content }}</p> -->
        </ion-item>
      </ion-list>
    </ion-content>